# Node & Vendor
/vendor
/node_modules

# Laravel
.env
.env.backup
.env.production
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.phpunit.result.cache
.phpactor.json
auth.json
Homestead.json
Homestead.yaml

# Editors & OS
.DS_Store
Thumbs.db
/.idea
/.vscode
/.nova
/.phpunit.cache
/.fleet
/.zed

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

/public_html/storage
/public_html/hot

# Vagrant
/.vagrant

# NPM/Yarn logs
npm-debug.log
yarn-error.log
